<button class="btn btn-primary" (click)="showOffcanvas(content)">Filter</button>
@if (accountService.roles().includes("Admin")) {
  <button (click)="createMountain()" class="btn btn-primary" type="button">Create mountain</button>
}

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Filter results</h4>
    <button type="button" class="btn-close" (click)="offcanvas.dismiss()"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex">
      <form #form="ngForm" class="mx-auto" style="width: 80%;" (ngSubmit)="loadMountains()" autocomplete="off">
          <div class="mb-3 form-floating">
            <input 
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="mountainService.mountainParams().name">
            <label>Name</label>
          </div>

          <div class="mb-3 form-floating">
            <input 
                type="number"
                class="form-control"
                name="minHeight"
                [(ngModel)]="mountainService.mountainParams().minHeight">
            <label>Min height</label>
          </div>

          <div class="mb-3 form-floating">
            <input 
                type="number"
                class="form-control"
                name="maxHeight"
                [(ngModel)]="mountainService.mountainParams().maxHeight">
            <label>Max height</label>
          </div>

          <div class="mb-3 form-floating">
            <select name="status"
                class="form-select" 
                [(ngModel)]="mountainService.mountainParams().status"
            >
            @for (status of statusList; track status.value) {
                <option [value]="status.value">{{status.display}}</option>
            }
            </select>
            <label>Status</label>
          </div>

          <div class="mb-3 form-floating">
            <select name="orderBy"
                class="form-select ms-1" 
                [(ngModel)]="mountainService.mountainParams().orderBy"
            >
            @for (orderBy of orderByList; track orderBy.value) {
                <option [value]="orderBy.value">{{orderBy.display}}</option>
            }
            </select>
            <label>Order by</label>
          </div>

          <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">
                Filter
              </button>
              <button (click)="resetFilters()" class="btn btn-primary" type="button">
                Reset
              </button>
              <button (click)="closeOffcanvas(offcanvas)" class="btn btn-primary" type="button">
                Close
              </button>
          </div>
      </form>
    </div>
  </div>
</ng-template>
  
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Height</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Climbed at</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          @for (mountain of mountainService.paginatedResult()?.items; track mountain.id) {
              <tr>
                  <td>{{mountain.id}}</td>
                  <td>{{mountain.name}}</td>
                  <td>{{mountain.description}}</td>
                  <td>{{mountain.height}}</td>
                  <td>{{mountain.latitude}}</td>
                  <td>{{mountain.longitude}}</td>
                  @if (mountain.isClimbed) {
                    <td>{{mountain.climbedAt}}</td>
                  } @else {
                    <td>-----</td>
                  }
                  <td>
                    <button class="btn btn-primary" 
                            routerLink="/mountains/{{mountain.id}}">
                      Details
                    </button>
                    @if (accountService.roles().includes("Admin")) {
                      <button class="btn btn-info" 
                              (click)="editMountain(mountain)">
                        Edit
                      </button>
                      <button class="btn btn-danger" 
                              (click)="deleteMountain(mountain.id)">
                        Delete
                      </button>
                    }
                  </td>
              </tr>
          }
      </tbody>
    </table>
  
  @if (mountainService.paginatedResult()?.pagination) {
      <div class="d-flex justify-content-center">
          <pagination [boundaryLinks]="true" 
                      [totalItems]="mountainService.paginatedResult()?.pagination!.totalItems"
                      [itemsPerPage]="mountainService.paginatedResult()?.pagination!.itemsPerPage"
                      (pageChanged)="pageChanged($event)"
                      [(ngModel)]="mountainService.paginatedResult()?.pagination!.currentPage"
                      [maxSize]="10"
                      previousText="&lsaquo;" 
                      nextText="&rsaquo;" 
                      firstText="&laquo;" 
                      lastText="&raquo;">
          </pagination>   
      </div>
  }