<div>
    <tabset>
      <tab heading="Details">
        <p>Member id: {{member()?.id}}</p>
        <p>Member known as: {{member()?.knownAs}}</p>
        <p>Member age: {{member()?.age}}</p>
        <p>Member created at: {{member()?.createdAt}}</p>
        <p>Member last active: {{member()?.lastActive}}</p>
        <p>Member public profile: {{member()?.publicProfile}}</p>
        @if (member()?.id == accountService.currentUser()?.id) {
            <p>
                <button class="btn btn-primary" (click)="editProfile()">
                    Edit profile
                </button>
            </p>
        }
      </tab>
      <tab heading="Mountains climbed" (selectTab)="loadMountainsClimbedByMember()">
        <div>
            <form #form="ngForm" (ngSubmit)="loadMountainsClimbedByMember()" class="d-flex flex-wrap mb-3">
                  <div class="d-flex">
                    <label class="col-form-label">Order by</label>
                    <select name="orderBy"
                        class="form-select ms-1" 
                        [(ngModel)]="memberService.memberParams().orderBy"
                    >
                    @for (orderBy of orderByList; track orderBy.value) {
                        <option [value]="orderBy.value">{{orderBy.display}}</option>
                    }
                    </select>
                  </div>
        
                  <div class="d-flex">
                    <button class="btn btn-primary" type="submit">Filter</button>
                  </div>
        
                  <div class="d-flex">
                    <button (click)="resetFilters()" class="btn btn-primary" type="button">Reset</button>
                  </div>          
            </form>
          </div>
          
          <table class="table table-hover">
              <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Height</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Climbed at</th>
                    <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                  @for (mountain of memberService.paginatedResultMountain()?.items; track mountain.id) {
                    <tr>
                        <td>{{mountain.id}}</td>
                        <td>{{mountain.name}}</td>
                        <td>{{mountain.description}}</td>
                        <td>{{mountain.height}}</td>
                        <td>{{mountain.latitude}}</td>
                        <td>{{mountain.longitude}}</td>
                        @if (mountain.isClimbed) {
                          <td>{{mountain.climbedAt}}</td>
                        } @else {
                          <td>-----</td>
                        }
                        <td>
                          <button class="btn btn-primary" 
                                  routerLink="/mountains/{{mountain.id}}">
                            Details
                          </button>
                        </td>
                    </tr>
                  }
              </tbody>
            </table>
          
          @if (memberService.paginatedResultMountain()?.pagination) {
              <div class="d-flex justify-content-center">
                  <pagination [boundaryLinks]="true" 
                              [totalItems]="memberService.paginatedResultMountain()?.pagination!.totalItems"
                              [itemsPerPage]="memberService.paginatedResultMountain()?.pagination!.itemsPerPage"
                              (pageChanged)="pageChanged($event)"
                              [(ngModel)]="memberService.paginatedResultMountain()?.pagination!.currentPage"
                              [maxSize]="10"
                              previousText="&lsaquo;" 
                              nextText="&rsaquo;" 
                              firstText="&laquo;" 
                              lastText="&raquo;">
                  </pagination>   
              </div>
          }
      </tab>
    </tabset>
</div>